In [67]:
import pandas as pd

In [68]:
df = pd.read_csv(r'data\001_PYSUS\SIA_2023_08.csv', sep = ';')
df.head()

,PA_UFMUN,PA_CMP,PA_PROC_ID,PA_NIVCPL,PA_CBOCOD,PA_OBITO,PA_ENCERR,PA_PERMAN,PA_ALTA,PA_TRANSF,PA_QTDAPR,PA_VALAPR,PA_UFDIF,PA_MNDIF,PA_G_PROC_ID,PA_SG_PROC_ID
0,261160,2023-08-01,202060233,2,221205,0,0,0,0,0,2,15.78,9,9,2,202
1,261160,2023-08-01,202060373,2,221205,0,0,0,0,0,13,113.88,9,9,2,202
2,261160,2023-08-01,211070211,2,223810,0,0,0,0,0,1,26.25,9,9,2,211
3,261160,2023-08-01,301010048,2,251510,0,0,0,0,0,1,6.30,9,9,3,301
4,261160,2023-08-01,301010072,2,225120,0,0,0,0,0,11,110.00,9,9,3,301

In [69]:
cod_columns = ['PA_UFMUN', 'PA_G_PROC_ID', 'PA_SG_PROC_ID', 'PA_PROC_ID', 'PA_NIVCPL', 'PA_CBOCOD']
df[cod_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225782 entries, 0 to 1225781
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   PA_UFMUN       1225782 non-null  int64
 1   PA_G_PROC_ID   1225782 non-null  int64
 2   PA_SG_PROC_ID  1225782 non-null  int64
 3   PA_PROC_ID     1225782 non-null  int64
 4   PA_NIVCPL      1225782 non-null  int64
 5   PA_CBOCOD      1225579 non-null  object
dtypes: int64(5), object(1)
memory usage: 56.1+ MB

## Extrair e transformar dados descritivos de PA_UFMUN (Município)

In [70]:
df_pa_ufmun = pd.read_csv(r'data\002_TABNET\sia_municipio.csv', sep=';')
df_pa_ufmun.head()

                      Município Valor_aprovado
0           260005 ABREU E LIMA     2057139,68
1  260010 AFOGADOS DA INGAZEIRA     1108202,45
2                260020 AFRANIO      254128,37
3              260030 AGRESTINA      304509,63
4             260040 AGUA PRETA      468963,73

In [71]:
df_pa_ufmun['PA_UFMUN'] = df_pa_ufmun['Município'].apply(lambda x: x.split(' ', 1)[0])
df_pa_ufmun['DS_PA_UFMUN'] = df_pa_ufmun['Município'].apply(lambda x: x.split(' ', 1)[1])

df_pa_ufmun['PA_UFMUN'] = df_pa_ufmun['PA_UFMUN'].astype('int64')
df_pa_ufmun[['PA_UFMUN', 'DS_PA_UFMUN']].head()

   PA_UFMUN            DS_PA_UFMUN
0    260005           ABREU E LIMA
1    260010  AFOGADOS DA INGAZEIRA
2    260020                AFRANIO
3    260030              AGRESTINA
4    260040             AGUA PRETA

In [72]:
df_pa_ufmun[['PA_UFMUN', 'DS_PA_UFMUN']].to_csv(r'data\002_TABNET\PA_UFMUN.csv', index = None, sep = ';')

## Extrair e transformar dados descritivos de PA_G_PROC_ID (Procedimento Grupo)

In [73]:
df_pa_g_proc_id = pd.read_csv(r'data\002_TABNET\sia_g_procedimento.csv', sep=';')
df_pa_g_proc_id.head()

                             Grupo procedimento Valor_aprovado
0   02 Procedimentos com finalidade diagnóstica    41226517,75
1                     03 Procedimentos clínicos   102065518,07
2                   04 Procedimentos cirúrgicos    13555047,64
3  05 Transplantes de orgãos, tecidos e células     8423753,86
4                               06 Medicamentos     4814791,47

In [74]:
df_pa_g_proc_id['PA_G_PROC_ID'] = df_pa_g_proc_id['Grupo procedimento'].apply(lambda x: x.split(' ', 1)[0])
df_pa_g_proc_id['DS_PA_G_PROC_ID'] = df_pa_g_proc_id['Grupo procedimento'].apply(lambda x: x.split(' ', 1)[1])

df_pa_g_proc_id['PA_G_PROC_ID'] = df_pa_g_proc_id['PA_G_PROC_ID'].astype('int64')
df_pa_g_proc_id[['PA_G_PROC_ID', 'DS_PA_G_PROC_ID']].head()

   PA_G_PROC_ID                            DS_PA_G_PROC_ID
0             2   Procedimentos com finalidade diagnóstica
1             3                     Procedimentos clínicos
2             4                   Procedimentos cirúrgicos
3             5  Transplantes de orgãos, tecidos e células
4             6                               Medicamentos

In [75]:
df_pa_g_proc_id[['PA_G_PROC_ID', 'DS_PA_G_PROC_ID']].to_csv(r'data\002_TABNET\PA_G_PROC_ID.csv', index = None, sep = ';')

## Extrair e transformar dados descritivos de PA_SG_PROC_ID (Procedimento Subgrupo)

In [76]:
df_pa_sg_proc_id = pd.read_csv(r'data\002_TABNET\sia_sg_procedimento.csv', sep=';')
df_pa_sg_proc_id.head()

                                    Subgrupo proced. Valor aprovado
0                            0201 Coleta de material      441047,65
1            0202 Diagnóstico em laboratório clínico     2518226,20
2  0203 Diagnóstico por anatomia patológica e cit...     3145396,80
3                    0204 Diagnóstico por radiologia     2282147,35
4               0205 Diagnóstico por ultrasonografia     7166190,78

In [77]:
df_pa_sg_proc_id['PA_SG_PROC_ID'] = df_pa_sg_proc_id['Subgrupo proced.'].apply(lambda x: x.split(' ', 1)[0])
df_pa_sg_proc_id['DS_PA_SG_PROC_ID'] = df_pa_sg_proc_id['Subgrupo proced.'].apply(lambda x: x.split(' ', 1)[1])

df_pa_sg_proc_id['PA_SG_PROC_ID'] = df_pa_sg_proc_id['PA_SG_PROC_ID'].astype('int64')
df_pa_sg_proc_id[['PA_SG_PROC_ID', 'DS_PA_SG_PROC_ID']].head()

   PA_SG_PROC_ID                                   DS_PA_SG_PROC_ID
0            201                                 Coleta de material
1            202                 Diagnóstico em laboratório clínico
2            203  Diagnóstico por anatomia patológica e citopato...
3            204                         Diagnóstico por radiologia
4            205                    Diagnóstico por ultrasonografia

In [78]:
df_pa_sg_proc_id[['PA_SG_PROC_ID', 'DS_PA_SG_PROC_ID']].to_csv(r'data\002_TABNET\PA_SG_PROC_ID.csv', index = None, sep = ';')

## Extrair e transformar dados descritivos de PA_PROC_ID (Procedimento)

In [79]:
df_pa_proc_id = pd.read_csv(r'data\002_TABNET\sia_procedimento.csv', sep=';')
df_pa_proc_id.head()

                                        Procedimento Valor aprovado
0                            0201010011 AMNIOCENTESE           4,40
1  0201010020 BIOPSIA / PUNCAO DE TUMOR SUPERFICI...         408,90
2            0201010046 BIOPSIA DE ANUS E CANAL ANAL        2953,60
3                       0201010062 BIOPSIA DE BEXIGA        1167,04
4               0201010070 BIOPSIA DE BOLSA ESCROTAL          18,33

In [80]:
df_pa_proc_id['PA_PROC_ID'] = df_pa_proc_id['Procedimento'].apply(lambda x: x.split(' ', 1)[0])
df_pa_proc_id['DS_PA_PROC_ID'] = df_pa_proc_id['Procedimento'].apply(lambda x: x.split(' ', 1)[1])

df_pa_proc_id['PA_PROC_ID'] = df_pa_proc_id['PA_PROC_ID'].astype('int64')
df_pa_proc_id[['PA_PROC_ID', 'DS_PA_PROC_ID']].head()

   PA_PROC_ID                                  DS_PA_PROC_ID
0   201010011                                   AMNIOCENTESE
1   201010020  BIOPSIA / PUNCAO DE TUMOR SUPERFICIAL DA PELE
2   201010046                   BIOPSIA DE ANUS E CANAL ANAL
3   201010062                              BIOPSIA DE BEXIGA
4   201010070                      BIOPSIA DE BOLSA ESCROTAL

In [81]:
df_pa_proc_id[['PA_PROC_ID', 'DS_PA_PROC_ID']].to_csv(r'data\002_TABNET\PA_PROC_ID.csv', index = None, sep = ';')

## Extrair e transformar dados descritivos de PA_CBOCOD (Profissional - CBO)

In [82]:
df_pa_cbocod = pd.read_csv(r'data\002_TABNET\sia_profissional.csv', sep=';')
df_pa_cbocod.head()

                             Profissional - CBO Valor aprovado
0                                221105 Biologo      819354,01
1                              221205 Biomedico     3987817,58
2                       2231F9 Medico residente        8036,71
3  2231G1 Medico Cardiologista Intervencionista         161,09
4     223208 Cirurgiao dentista - clinico geral      572317,33

In [83]:
df_pa_cbocod['PA_CBOCOD'] = df_pa_cbocod['Profissional - CBO'].apply(lambda x: x.split(' ', 1)[0])
df_pa_cbocod['DS_PA_CBOCOD'] = df_pa_cbocod['Profissional - CBO'].apply(lambda x: x.split(' ', 1)[1])

df_pa_cbocod[['PA_CBOCOD', 'DS_PA_CBOCOD']].head()

  PA_CBOCOD                           DS_PA_CBOCOD
0    221105                                Biologo
1    221205                              Biomedico
2    2231F9                       Medico residente
3    2231G1  Medico Cardiologista Intervencionista
4    223208     Cirurgiao dentista - clinico geral

In [84]:
df_pa_cbocod[['PA_CBOCOD', 'DS_PA_CBOCOD']].to_csv(r'data\002_TABNET\PA_CBOCOD.csv', index = None, sep = ';')

## Extrair e transformar dados descritivos de PA_NIVCPL (Complexidade)
Não há um código informado no TabNet para a variável de **Complexidade**. Dessa forma, o código será obtido através de inferência

In [85]:
df_pa_nivcpl = pd.read_csv(r'data\002_TABNET\sia_complexidade.csv', sep=';')
df_pa_nivcpl

         Complexidade Valor aprovado
0      Atenção Básica         118,00
1  Média complexidade    16312502,70
2   Alta complexidade    46592212,90
3       Não se aplica     3643105,82

In [86]:
df.groupby('PA_NIVCPL').sum()['PA_VALAPR']

C:\Users\Vinicius Luiz\AppData\Local\Temp\ipykernel_5420\347442365.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('PA_NIVCPL').sum()['PA_VALAPR']

PA_NIVCPL
0     3626534.13
1         119.00
2    53100577.10
3    46856945.50
Name: PA_VALAPR, dtype: float64

In [87]:
dict_pa_cnivcpl = {
      'PA_NIVCPL': (0, 1, 2, 3)
    , 'DS_PA_NIVCPL': ('Não se aplica', 'Atenção Básica', 'Média Complexidade', 'Alta Complexidade')
}

df_pa_nivcpl = pd.DataFrame(dict_pa_cnivcpl)
df_pa_nivcpl

   PA_NIVCPL        DS_PA_NIVCPL
0          0       Não se aplica
1          1      Atenção Básica
2          2  Média Complexidade
3          3   Alta Complexidade

In [88]:
df_pa_nivcpl[['PA_NIVCPL', 'DS_PA_NIVCPL']].to_csv(r'data\002_TABNET\PA_NIVCPL.csv', index = None, sep = ';')